.rightmaindiv{
    height: 100vh;
}

.rightmainimg{
    object-fit: cover;
    object-position: center;
    height: 70vh;
    width: 70%;
}

.initialText{
    font-size: x-large;
    font-weight: 400;
}