.rightmaindiv {
    height: 100vh;
    padding: 15px;

    .rightmainimg {
        object-fit: contain;
        object-position: center;
        max-height: 100%;
        max-width: 100%;
        float: left;
        /* flex: 1; */
        /* height: max-content; */
        margin: 40px;
        box-shadow: 0px 0px 30px #333;
        vertical-align: top;
    }

    .initialText {
        font-size: 16px;
        font-weight: 400;
    }
}
